@using ClanManager.Core.Resources

@{
    ViewData["Title"] = Resources.Error_500;
}

<div class="text-center mt-5">
    <h1 class="display-3 text-danger">500</h1>
    <h2>@Resources.Error500_1</h2>
    <p>@Resources.Error500_2</p>
    <a class="btn btn-primary mt-3" href="/">@Resources.Back_Home</a>
</div>